/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/theming';
@import './style/bootstrap-grid.scss';
@include mat-core();

body,
html {
  margin: 0;
}

/* Generate a pallete from a $mat-{color} */
$custom-theme-primary: mat-palette($mat-pink);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

/* Generate a complete theme from primary, accent and warn theme above*/
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
